<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
<div class="v23_272">
    <div class="v23_273">
        <div class="v23_274">
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
        </div>
    </div>
    <div class="v23_302">
    <div class="v23_303"></div>
        <span class="v23_304">000님</span>
        <div class="v23_305">
            <span class="v23_306">Hy-care</span>
        </div>
        <div class="v23_307">
            <span class="v23_308">화상진료</span>
        </div>
        <div class="v421_250">
            <div class="v23_300"></div>
            <div class="v57_708">
                <div class="v57_709"></div>
            </div>
            <div class="v58_616"></div>
        </div>
    </div>
</div>
</body>
</html>