.home-container {
  width: auto;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}

.home-home {
  width: 100%;
  height: 795px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-text-section {
  top: 245px;
  left: 127px;
  width: 795px;
  height: 356px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-self-button {
  top: 306px;
  left: 209px;
  width: 190px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-self-btn {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 190px;
  height: 50px;
  display: flex;
  padding: 12px 30px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 38px;
  background-color: rgba(124, 252, 0, 1);
}
.home-text {
  top: 13px;
  left: 0px;
  color: rgb(37, 40, 41);
  right: 0px;
  width: 190px;
  bottom: 13x;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 19px;
  font-style: Bold;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-guide-button {
  top: 306px;
  left: 0px;
  width: 190.5px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-guide-btn {
  gap: 8px;
  top: 0px;
  left: 0.5px;
  width: 190px;
  height: 50px;
  display: flex;
  padding: 0 27px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0 27px;
  border-color: rgba(124, 252, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 38px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}
.home-text01 {
  top: 13px;
  color: rgba(37, 40, 41, 1);
  right: 0px;
  width: 190px;
  bottom: 13px;
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Bold;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text03 {
  color: rgba(49, 53, 54, 1);
  width: 755px;
  height: auto;
  position: absolute;
  font-size: 52px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text08 {
  top: 205px;
  color: rgba(171, 173, 175, 1);
  width: 795px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-home-img {
  top: 189.09521484375px;
  left: 835px;
  width: 552px;
  height: 546px;
  position: absolute;
  border-radius: 49px;
}
.home-navbar {
  top: 0px;
  left: 0px;
  width: 1500px;
  height: 93px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(50, 205, 50, 1);
}
.home-logo {
  top: 22.272727966308594px;
  left: 59px;
  width: 250.5844268798828px;
  height: 52.727294921875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text10 {
  left: 68.2987060546875px;
  color: rgba(255, 255, 255, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-logo-img {
  top: 4.727294921875px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
}
.home-menu {
  top: 33px;
  left: 478px;
  width: 976px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-under-line {
  top: 37px;
  left: 0px;
  width: 54px;
  height: 5px;
  position: absolute;
  border-radius: 50px;
}
.home-text12 {
  left: 811px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text14 {
  left: 523px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text16 {
  left: 389px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text18 {
  left: 243px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text20 {
  left: 119px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text22 {
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
